<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.Index</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CreateBusiness</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.CreateBusiness</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditBusiness</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.EditBusiness</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Export</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.Export</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteBusiness</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.DeleteBusiness</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Import</servlet-name>
		<servlet-class>fr.tutosfaciles48.servlets.Import</servlet-class>
		<init-param>
			<param-name>import_path</param-name> 
			<param-value>O:/Temp</param-value>
		</init-param>
		<multipart-config>
			<location>O:/Temp</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreateBusiness</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditBusiness</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Import</servlet-name>
		<url-pattern>/import</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteBusiness</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
</web-app>